.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}

.animation {
  max-width: 460px;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .main {
    padding: 1.5rem;
  }

  .animation {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .description {
    font-size: 1.1rem;
    line-height: 1.7;
  }
}

.title {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.section {
  margin-top: 1.5rem;
}

.description {
  font-size: 1.35rem;
  line-height: 1.8;
  color: #444;
  margin-bottom: 1rem;
}

.link {
  font-size: 1.1rem;
  color: #444;
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}
